@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
.inter{
    
    background-color:blue;
    font-family: 'Lato', sans-serif;
    font-size:20px;
    border-radius: 30px;
}

.text-light{
    font-size:large;

}
.navbar{
    background-color: darkgray;
    padding:20px;
    margin-top:5px;
    font-family: 'Noto Sans JP', sans-serif;
}


.new{
    font-family: 'Lato', sans-serif;
    color:pink;
    font-size:25px;
    margin:50px;
    text-align: center;
    
 }
 p{
     color: red;
 }
 *{
     background-color: darkgray;
 }